<!DOCTYPE ><HTML><head><script data-outdated-warner="">function maybeAddWarning () {
    const head = document.getElementsByTagName('head')[0];

    // Add a noindex meta tag (unless one exists) so that search engines don't index this version of the docs.
    if (document.body.querySelector('meta[name="robots"]') === null) {
        const meta = document.createElement('meta');
        meta.name = 'robots';
        meta.content = 'noindex';

        head.appendChild(meta);
    };

    // Add a stylesheet to avoid inline styling
    const style = document.createElement('style');
    style.type = 'text/css';
    style.appendChild(document.createTextNode('.outdated-warning-overlay {  position: fixed;  top: 0;  left: 0;  right: 0;  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  z-index: 999;  background-color: #ffaba7;  color: rgba(0, 0, 0, 0.7);  border-bottom: 3px solid #da0b00;  padding: 10px 35px;  text-align: center;  font-size: 15px; }  .outdated-warning-overlay .outdated-warning-closer {    position: absolute;    top: calc(50% - 10px);    right: 18px;    cursor: pointer;    width: 12px; }  .outdated-warning-overlay a {    color: #2e63b8; }    .outdated-warning-overlay a:hover {      color: #363636; }'));
    head.appendChild(style);

    const div = document.createElement('div');
    div.classList.add('outdated-warning-overlay');
    const closer = document.createElement('div');
    closer.classList.add('outdated-warning-closer');

    // Icon by font-awesome (license: https://fontawesome.com/license, link: https://fontawesome.com/icons/times?style=solid)
    closer.innerHTML = '<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" class="svg-inline--fa fa-times fa-w-11" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>';
    closer.addEventListener('click', function () {
        document.body.removeChild(div);
    });
    let href = '/stable';
    if (window.documenterBaseURL) {
        href = window.documenterBaseURL + '/../stable';
    }
    div.innerHTML = 'This is an old version of the documentation. <br> <a href="' + href + '">Go to the newest version</a>.';
    div.appendChild(closer);
    document.body.appendChild(div);
};

if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', maybeAddWarning);
} else {
    maybeAddWarning();
};
</script></head><body><nav aria-label="Navigation">
  {% set home = repo_url | default("/", true) %}
  <a class="project" href="{{ home }}"><div class="banner">
      {% if config.extra.logo %}
        <div class="logo"><img src="{{ base_url }}/{{ config.extra.logo }}"/></div>
      {% endif %}
      <div class="name"><strong>
          {{ site_name }}
          <span class="version">
            {{ config.extra.version }}
          </span></strong>
        {% if repo_id %}
          <br/>
          {{ repo_id }}
        {% endif %}
      </div></div></a><div class="scrollable"><div class="wrapper">
      {% if repo_name == "GitHub" and repo_url %}
        <ul class="repo"><li class="repo-download">
            {% set version = config.extra.version | default("master") %}
            <a data-action="download" href="{{ repo_url }}/archive/{{ version }}.zip" target="_blank" title="Download"><i class="icon icon-download"></i> Download
            </a></li><li class="repo-stars"><a data-action="star" href="{{ repo_url }}/stargazers" target="_blank" title="Stargazers"><i class="icon icon-star"></i> Stars
              <span class="count">–</span></a></li></ul><hr/>
      {% endif %}
      <div class="toc"><ul>
          {% for nav_item in nav %}
            {% include "nav.html" %}
          {% endfor %}
        </ul>
        {% if config.extra.author %}
          <hr/><span class="section">The author</span><ul>
            {% if config.extra.author.twitter %}
              {% set author = config.extra.author.twitter %}
              <li><a href="https://twitter.com/{{ author }}" target="_blank" title="@{{ author }} on Twitter">
                  @{{ author }} on Twitter
                </a></li>
            {% endif %}
            {% if config.extra.author.github %}
              {% set author = config.extra.author.github %}
              <li><a href="https://github.com/{{ author }}" target="_blank" title="@{{ author }} on GitHub">
                  @{{ author }} on GitHub
                </a></li>
            {% endif %}
          </ul>
        {% endif %}
      </div></div></div></nav></body></HTML>