<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>DataFrames.jl: Tools for working with data in Julia</title>
    
    <link rel="stylesheet" href="stylesheets/minimal_styles.css">
    <link rel="stylesheet" href="stylesheets/minimal_pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="http://juliastats.github.com/DataFrames.jl/"><h1>DataFrames.jl</h1></a>
        <p>Tools for working with data in Julia</p>

        <p>
          <small><a href='http://juliastats.github.com/DataFrames.jl/index.html'>Table of Contents</a></small>
          <br/>
          <small><a href='http://juliastats.github.com/DataFrames.jl/introduction.html'>Why Use the DataFrames Package?</a></small>
          <br/>
          <small><a href='http://juliastats.github.com/DataFrames.jl/getting_started.html'>Getting Started</a></small>
          <br/>
          <small><a href='http://juliastats.github.com/DataFrames.jl/io.html'>I/O - Reading and Writing Data</a></small>
          <br/>
          <small><a href='http://juliastats.github.com/DataFrames.jl/subsets.html'>Subsets of DataFrames</a></small>
          <br/>
          <small><a href='http://juliastats.github.com/DataFrames.jl/joins_and_indexing.html'>Database-Style Joins and Indexing</a></small>
          <br/>
          <small><a href='http://juliastats.github.com/DataFrames.jl/split_apply_combine.html'>Split-Apply-Combine Operations</a></small>
          <br/>
          <small><a href='http://juliastats.github.com/DataFrames.jl/reshaping_and_pivoting.html'>Reshaping and Pivoting</a></small>
          <br/>
          <small><a href='http://juliastats.github.com/DataFrames.jl/datastreams.html'>Streaming Data Analysis</a></small>
          <br/>
          <small><a href='http://juliastats.github.com/DataFrames.jl/formulas.html'>The Formula, ModelFrame and ModelMatrix Types</a></small>
          <br/>
          <small><a href='http://juliastats.github.com/DataFrames.jl/pooling.html'>Representing Factors using the PooledDataArray Type</a></small>
        </p>

        <p class="view"><a href="https://github.com/juliastats/DataFrames.jl">View the Project on GitHub <small>juliastats/DataFrames.jl</small></a></p>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
