<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>DataFrames.jl: Tools for working with data in Julia</title>
    
    <link rel="stylesheet" href="stylesheets/minimal_styles.css">
    <link rel="stylesheet" href="stylesheets/minimal_pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="http://harlanh.github.com/DataFrames.jl/"><h1>DataFrames.jl</h1></a>
        <p>Tools for working with data in Julia</p>

        <ul>
          <li><a href='http://harlanh.github.com/DataFrames.jl/index.html'>Table of Contents</a></li>

          <li><a href='http://harlanh.github.com/DataFrames.jl/introduction.html'>Why Use the DataFrames Package?</a></li>

          <li><a href='http://harlanh.github.com/DataFrames.jl/getting_started.html'>Getting Started</a></li>

          <li><a href='http://harlanh.github.com/DataFrames.jl/io.html'>IO</a></li>

          <li><a href='http://harlanh.github.com/DataFrames.jl/merging_and_indexing.html'>Database-Style Joins and Indexing</a></li>

          <li><a href='http://harlanh.github.com/DataFrames.jl/split_apply_combine.html'>Split-Apply-Combine Operations</a></li>

          <li><a href='http://harlanh.github.com/DataFrames.jl/reshaping_and_pivoting.html'>Reshaping and Pivoting</a></li>

          <li><a href='http://harlanh.github.com/DataFrames.jl/datastreams.html'>Streaming Data Analysis</a></li>
        </ul>

        <p class="view"><a href="https://github.com/HarlanH/DataFrames.jl">View the Project on GitHub <small>HarlanH/DataFrames.jl</small></a></p>

        <ul>
          <li><a href="https://github.com/HarlanH/DataFrames.jl/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/HarlanH/DataFrames.jl/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/HarlanH/DataFrames.jl">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>This project is maintained by <a href="http://github.com/HarlanH">HarlanH</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
